.emptyContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;

    .imgTarea{
        height: 300px;
        width: 300px;

    }
    .textEmptyTodo{
        color: $color-text;
        font-size: 18px;
        text-align: center;
        margin: 0;
        padding: 48px;
        font-weight: normal;
    }
}